In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [3]:
df_clients = pd.read_csv(r"C:\Users\bootcamp\week5\project_targaryan\targaryan\data\raw/df_final_experiment_clients.txt")
df_webdata1 = pd.read_csv(r"C:\Users\bootcamp\week5\project_targaryan\targaryan\data\raw/df_final_web_data_pt_1.txt")
df_webdata2 = pd.read_csv(r"C:\Users\bootcamp\week5\project_targaryan\targaryan\data\raw/df_final_web_data_pt_2.txt")
df_final_demo = pd.read_csv(r"C:\Users\bootcamp\week5\project_targaryan\targaryan\data\raw/df_final_demo.txt")

In [4]:
df_clients.head()

   client_id Variation
0    9988021      Test
1    8320017      Test
2    4033851   Control
3    1982004      Test
4    9294070   Control

In [5]:
df_webdata1.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04

In [6]:
df_webdata2.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58

In [11]:
df_final_demo.head(20)

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0
5,3727881,5.0,71.0,30.5,U,2.0,23915.60,0.0,3.0
6,272934,5.0,66.0,58.5,U,2.0,27021.42,2.0,5.0
7,388801,30.0,361.0,57.5,M,5.0,522498.72,1.0,4.0
8,285619,30.0,369.0,67.5,M,2.0,299388.72,3.0,6.0
9,8198645,15.0,189.0,54.5,F,2.0,382303.83,6.0,9.0
10,8368822,8.0,100.0,34.5,U,2.0,75578.54,0.0,3.0
11,2537139,8.0,99.0,51.5,U,2.0,135940.68,6.0,9.0
12,2208717,5.0,67.0,33.0,U,2.0,29782.96,6.0,9.0
13,2214073,16.0,193.0,62.5,M,3.0,136818.03,6.0,9.0
14,2368987,5.0,71.0,54.5,U,2.0,44408.87,2.0,5.0
15,2892152,4.0,58.0,36.0,U,2.0,46815.48,5.0,8.0
16,4536541,3.0,47.0,74.0,U,2.0,47804.50,1.0,4.0
17,3788589,10.0,122.0,32.5,M,2.0,30750.76,0.0,3.0
18,719792,11.0,136.0,31.0,F,2.0,111736.78,5.0,8.0
19,5904035,8.0,101.0,25.5,U,2.0,27848.76,3.0,6.0

In [8]:
df_clients.shape

(70609, 2)

In [9]:
df_webdata1.shape

(343141, 5)

In [10]:
df_webdata2.shape

(412264, 5)