In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [6]:
df_clients = pd.read_csv(r"C:\Users\bootcamp\week5\project_targaryan\targaryan\data\raw/df_final_experiment_clients.txt")
df_webdata1 = pd.read_csv(r"C:\Users\bootcamp\week5\project_targaryan\targaryan\data\raw/df_final_web_data_pt_1.txt")
df_webdata2 = pd.read_csv(r"C:\Users\bootcamp\week5\project_targaryan\targaryan\data\raw/df_final_web_data_pt_2.txt")

In [12]:
df_clients.head()

   client_id Variation
0    9988021      Test
1    8320017      Test
2    4033851   Control
3    1982004      Test
4    9294070   Control

In [11]:
df_webdata1.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04

In [7]:
df_webdata2.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58

In [8]:
df_clients.shape

(70609, 2)

In [9]:
df_webdata1.shape

(343141, 5)

In [10]:
df_webdata2.shape

(412264, 5)