In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [2]:
df_clients = pd.read_csv(r"C:\Users\bootcamp\week5\project_targaryan\targaryan\data\raw/df_final_experiment_clients.txt")
df_webdata1 = pd.read_csv(r"C:\Users\bootcamp\week5\project_targaryan\targaryan\data\raw/df_final_web_data_pt_1.txt")
df_webdata2 = pd.read_csv(r"C:\Users\bootcamp\week5\project_targaryan\targaryan\data\raw/df_final_web_data_pt_2.txt")
df_final_demo = pd.read_csv(r"C:\Users\bootcamp\week5\project_targaryan\targaryan\data\raw/df_final_demo.txt")

In [3]:
df_clients.head()

   client_id Variation
0    9988021      Test
1    8320017      Test
2    4033851   Control
3    1982004      Test
4    9294070   Control

In [4]:
df_webdata1.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04

In [5]:
df_webdata2.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58

In [6]:
df_final_demo.head(20)

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0
5,3727881,5.0,71.0,30.5,U,2.0,23915.60,0.0,3.0
6,272934,5.0,66.0,58.5,U,2.0,27021.42,2.0,5.0
7,388801,30.0,361.0,57.5,M,5.0,522498.72,1.0,4.0
8,285619,30.0,369.0,67.5,M,2.0,299388.72,3.0,6.0
9,8198645,15.0,189.0,54.5,F,2.0,382303.83,6.0,9.0
10,8368822,8.0,100.0,34.5,U,2.0,75578.54,0.0,3.0
11,2537139,8.0,99.0,51.5,U,2.0,135940.68,6.0,9.0
12,2208717,5.0,67.0,33.0,U,2.0,29782.96,6.0,9.0
13,2214073,16.0,193.0,62.5,M,3.0,136818.03,6.0,9.0
14,2368987,5.0,71.0,54.5,U,2.0,44408.87,2.0,5.0
15,2892152,4.0,58.0,36.0,U,2.0,46815.48,5.0,8.0
16,4536541,3.0,47.0,74.0,U,2.0,47804.50,1.0,4.0
17,3788589,10.0,122.0,32.5,M,2.0,30750.76,0.0,3.0
18,719792,11.0,136.0,31.0,F,2.0,111736.78,5.0,8.0
19,5904035,8.0,101.0,25.5,U,2.0,27848.76,3.0,6.0

In [7]:
df_clients.shape

(70609, 2)

In [8]:
df_webdata1.shape

(343141, 5)

In [9]:
df_webdata2.shape

(412264, 5)

# visualizations from sql findings

In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [11]:
df_demo_clean = pd.read_csv(r"C:\Users\bootcamp\week5\project_targaryan\targaryan\data\Clean/df_demo_clean.csv")
df_experiment_clean = pd.read_csv(r"C:\Users\bootcamp\week5\project_targaryan\targaryan\data\Clean/df_experiment_clean.csv")
df_web_clean = pd.read_csv(r"C:\Users\bootcamp\week5\project_targaryan\targaryan\data\Clean/df_web_clean.csv")

In [12]:
#old code

In [13]:
df_clients = pd.read_csv(r"C:\Users\bootcamp\week5\project_targaryan\targaryan\data\raw/df_final_experiment_clients.txt")
df_webdata1 = pd.read_csv(r"C:\Users\bootcamp\week5\project_targaryan\targaryan\data\raw/df_final_web_data_pt_1.txt")
df_webdata2 = pd.read_csv(r"C:\Users\bootcamp\week5\project_targaryan\targaryan\data\raw/df_final_web_data_pt_2.txt")
df_final_demo = pd.read_csv(r"C:\Users\bootcamp\week5\project_targaryan\targaryan\data\raw/df_final_demo.txt")

In [14]:
df_clients.head()

   client_id Variation
0    9988021      Test
1    8320017      Test
2    4033851   Control
3    1982004      Test
4    9294070   Control

In [18]:
!cat data/analysis_tables/variation_daily_summary.csv

date,Variation,daily_unique_visitors,daily_unique_visits
2017-03-15,Control,116,121
2017-03-15,Test,140,146
2017-03-16,Control,46,47
2017-03-16,Test,55,56
2017-03-17,Control,24,24
2017-03-17,Test,34,34
2017-03-18,Control,27,27
2017-03-18,Test,29,30
2017-03-19,Control,27,28
2017-03-19,Test,30,31
2017-03-20,Control,30,30
2017-03-20,Test,30,30
2017-03-21,Control,20,21
2017-03-21,Test,34,34
2017-03-22,Control,123,123
2017-03-22,Test,157,163
2017-03-23,Control,60,61
2017-03-23,Test,68,71
2017-03-24,Control,42,43
2017-03-24,Test,39,39
2017-03-25,Control,31,32
2017-03-25,Test,38,40
2017-03-26,Control,34,34
2017-03-26,Test,48,50
2017-03-27,Control,27,28
2017-03-27,Test,38,38
2017-03-28,Control,103,105
2017-03-28,Test,184,188
2017-03-29,Control,2811,2911
2017-03-29,Test,3326,3504
2017-03-30,Control,990,1019
2017-03-30,Test,1238,1283
2017-03-31,Control,628,647
2017-03-31,Test,808,841
2017-04-01,Control,459,467
2017-04-01,Test,612,626
2017-04-02,Control,727,746
2017-04-02,Test,952,986
2017-04-03,Control,614,636
2017-04-03,Test,872,893
2017-04-04,Control,595,606
2017-04-04,Test,893,925
2017-04-05,Control,2240,2327
2017-04-05,Test,2710,2864
2017-04-06,Control,1218,1261
2017-04-06,Test,1200,1243
2017-04-07,Control,918,947
2017-04-07,Test,970,1002
2017-04-08,Control,790,820
2017-04-08,Test,771,797
2017-04-09,Control,856,885
2017-04-09,Test,810,837
2017-04-10,Control,569,578
2017-04-10,Test,737,760
2017-04-11,Control,383,390
2017-04-11,Test,535,550
2017-04-12,Control,1673,1727
2017-04-12,Test,1948,2052
2017-04-13,Control,734,761
2017-04-13,Test,918,959
2017-04-14,Control,493,510
2017-04-14,Test,677,700
2017-04-15,Control,507,520
2017-04-15,Test,687,710
2017-04-16,Control,527,539
2017-04-16,Test,766,802
2017-04-17,Control,457,474
2017-04-17,Test,639,662
2017-04-18,Control,314,323
2017-04-18,Test,429,439
2017-04-19,Control,1095,1140
2017-04-19,Test,1243,1298
2017-04-20,Control,482,497
2017-04-20,Test,550,571
2017-04-21,Control,267,277
2017-04-21,Test,362,375
2017-04-22,Control,225,229
2017-04-22,Test,346,358
2017-04-23,Control,278,285
2017-04-23,Test,388,399
2017-04-24,Control,283,287
2017-04-24,Test,319,327
2017-04-25,Control,211,222
2017-04-25,Test,326,335
2017-04-26,Control,161,162
2017-04-26,Test,233,246
2017-04-27,Control,180,188
2017-04-27,Test,238,243
2017-04-28,Control,192,196
2017-04-28,Test,212,220
2017-04-29,Control,26,26
2017-04-29,Test,19,19
2017-04-30,Control,28,28
2017-04-30,Test,50,51
2017-05-01,Control,239,241
2017-05-01,Test,298,305
2017-05-02,Control,182,185
2017-05-02,Test,241,245
2017-05-03,Control,154,156
2017-05-03,Test,219,224
2017-05-04,Control,150,152
2017-05-04,Test,227,232
2017-05-05,Control,112,113
2017-05-05,Test,158,161
2017-05-06,Control,109,111
2017-05-06,Test,174,182
2017-05-07,Control,160,165
2017-05-07,Test,191,196
2017-05-08,Control,135,136
2017-05-08,Test,205,211
2017-05-09,Control,192,193
2017-05-09,Test,180,182
2017-05-10,Control,269,279
2017-05-10,Test,265,274
2017-05-11,Control,224,232
2017-05-11,Test,203,208
2017-05-12,Control,197,200
2017-05-12,Test,149,151
2017-05-13,Control,153,158
2017-05-13,Test,137,142
2017-05-14,Control,214,217
2017-05-14,Test,204,209
2017-05-15,Control,237,241
2017-05-15,Test,214,216
2017-05-16,Control,214,218
2017-05-16,Test,156,162
2017-05-17,Control,195,199
2017-05-17,Test,163,165
2017-05-18,Control,142,145
2017-05-18,Test,149,152
2017-05-19,Control,166,169
2017-05-19,Test,132,134
2017-05-20,Control,214,221
2017-05-20,Test,171,176
2017-05-21,Control,254,257
2017-05-21,Test,190,193
2017-05-22,Control,220,225
2017-05-22,Test,174,174
2017-05-23,Control,210,215
2017-05-23,Test,168,169
2017-05-24,Control,159,161
2017-05-24,Test,112,115
2017-05-25,Control,150,152
2017-05-25,Test,106,106
2017-05-26,Control,114,116
2017-05-26,Test,96,98
2017-05-27,Control,89,90
2017-05-27,Test,92,95
2017-05-28,Control,113,118
2017-05-28,Test,128,134
2017-05-29,Control,160,162
2017-05-29,Test,153,156
2017-05-30,Control,190,193
2017-05-30,Test,167,172
2017-05-31,Control,167,170
2017-05-31,Test,135,139
2017-06-01,Control,181,182
2017-06-01,Test,175,177
2017-06-02,Control,150,154
2017-06-02,Test,157,164
2017-06-03,Control,178,183
2017-06-03,Test,157,158
2017-06-04,Control,198,201
2017-06-04,Test,173,177
2017-06-05,Control,182,190
2017-06-05,Test,187,193
2017-06-06,Control,175,182
2017-06-06,Test,132,135
2017-06-07,Control,166,166
2017-06-07,Test,165,166
2017-06-08,Control,149,156
2017-06-08,Test,122,125
2017-06-09,Control,154,158
2017-06-09,Test,134,137
2017-06-10,Control,99,103
2017-06-10,Test,116,118
2017-06-11,Control,172,175
2017-06-11,Test,165,172
2017-06-12,Control,163,166
2017-06-12,Test,148,152
2017-06-13,Control,163,168
2017-06-13,Test,132,137
2017-06-14,Control,152,154
2017-06-14,Test,152,156
2017-06-15,Control,136,140
2017-06-15,Test,105,106
2017-06-16,Control,114,119
2017-06-16,Test,93,95
2017-06-17,Control,107,111
2017-06-17,Test,70,72
2017-06-18,Control,171,173
2017-06-18,Test,129,132
2017-06-19,Control,180,186
2017-06-19,Test,162,165
2017-06-20,Control,216,223
2017-06-20,Test,156,162

In [19]:
variation_daily_summary = pd.read_csv(
    r"C:\Users\bootcamp\week5\project_targaryan\targaryan\data\analysis_tables\variation_daily_summary.csv",
    parse_dates=["date"]
)

In [20]:
variation_daily_summary.head()

        date Variation  daily_unique_visitors  daily_unique_visits
0 2017-03-15   Control                    116                  121
1 2017-03-15      Test                    140                  146
2 2017-03-16   Control                     46                   47
3 2017-03-16      Test                     55                   56
4 2017-03-17   Control                     24                   24

In [21]:
df_clients['<bound method NDFrame.head of '] = pd.to_datetime(df_clients['<bound method NDFrame.head of '])

plt.figure(figsize=(8, 4))
plt.plot(df_clients['<bound method NDFrame.head of '], df_clients['daily_unique_visitors'], label='Unique Visitors')
plt.plot(df_clients['<bound method NDFrame.head of '], df_clients['daily_unique_visits'], label='Unique Visits')

plt.xlabel('<bound method NDFrame.head of ')
plt.ylabel('Count')
plt.title('Daily Unique Visitors vs Visits')
plt.legend()
plt.grid(alpha=0.3)
plt.tight_layout()
plt.show()

KeyError: '<bound method NDFrame.head of '